[Unit]
Description=i3lock sleep hook
Before=sleep.target

[Service]
User=bordun
Type=forking
Environment=DISPLAY=:0
ExecStart=/home/bordun/.config/i3/i3lock-wrapper

[Install]
WantedBy=sleep.target
